@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .select2-container.select2-container-disabled .select2-choice {
        background-color: #d2d6de !important;
    }
</style>
<script src="~/Areas/FSM/NgCode/frmReportMPOWisePrescriptionSummary.js"></script>
<div ng-app="myApp" ng-controller="myCtrl">
    <div class="loader ng-cloak LoaderStyle" data-loading>
        @*<img src="~/Content/img/avatar.png" width="100px;" height="100px;" style="top: 50%; left: 50%;" />*@
        <img src="~/Content/img/loader.gif" width="100px;" height="100px;" style="top: 50%; left: 50%;" />
    </div>
    <div class="form-horizontal" ng-form="frmReportMPOWisePrescriptionSummary">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <div class="form-group">
                                <div class="col-md-5">
                                    <h4 class="box-title">
                                        <strong ng-cloak>{{FormTitle}}</strong>
                                    </h4>
                                </div>
                                <div class="col-md-7">
                                    <div class="text-right  m-t-10">
                                        <button type="button" class="btn btn-embossed btn-danger" ng-click="Reset()"><i class="fa fa-refresh"></i>&nbsp Reset</button>
                                        <button type="button" class="btn btn-embossed btn-success" ng-click="GetMPOWisePrescriptionSummaryData()" ng-class="{'btn-transparent': frmReportMPOWisePrescriptionSummary.$invalid}" ng-disabled="frmReportMPOWisePrescriptionSummary.$invalid"><i class="fa fa-search"></i>&nbspView</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <form role="form">
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    @*<div class="col-md-1">
                                            <label class="control-label">Depot</label>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <ui-select class="form-control form-white " ng-model="frmReportMPOWisePrescriptionSummary.Depot" theme="select2" ng-change="GetZoneByDepot()" ng-cloak>
                                                    <ui-select-match placeholder="">{{$select.selected.DEPOT_NAME}}</ui-select-match>
                                                    <ui-select-choices repeat="depot.DEPOT_CODE as depot in Depots | propsFilter: {DEPOT_NAME: $select.search, DEPOT_CODE: $select.search}">
                                                        <div ng-bind-html="depot.DEPOT_NAME | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>*@
                                    <div class="col-md-1">
                                        <input type="checkbox" ng-true-value="YES" ng-false-value="NO" ng-change="ZoneCheckBoxClick()" ng-model="ZoneCheckBoxModal" ng-disabled="isZoneCheckBoxDisable"/>
                                        <label class="control-label">Zone</label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <ui-select class="form-control form-white " ng-model="frmReportMPOWisePrescriptionSummary.Zone" theme="select2" ng-change="GetRegionByZone()" ng-cloak ng-disabled="isZoneDisable">
                                                <ui-select-match placeholder="">{{$select.selected.ZONE_NAME}}</ui-select-match>
                                                <ui-select-choices repeat="zone.ZONE_CODE as zone in Zones | propsFilter: {ZONE_NAME: $select.search, ZONE_CODE: $select.search}">
                                                    <div ng-bind-html="zone.ZONE_NAME | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-md-1" style="margin: 0 10px 0 0; ">
                                    </div>
                                    <div class="col-md-1">
                                        <input type="checkbox" ng-true-value="YES" ng-false-value="NO" ng-change="AreaCheckBoxClick()" ng-model="AreaCheckBoxModal" ng-disabled="isAreaCheckBoxDisable"/>
                                        <label class="control-label">Area</label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <ui-select class="form-control form-white " ng-model="frmReportMPOWisePrescriptionSummary.Area" theme="select2" ng-cloak ng-disabled="isAreaDisable">
                                                <ui-select-match placeholder="">{{$select.selected.AREA_NAME}}</ui-select-match>
                                                <ui-select-choices repeat="area.AREA_CODE as area in Areas | propsFilter: {AREA_NAME: $select.search, AREA_CODE: $select.search}">
                                                    <div ng-bind-html="area.AREA_NAME | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    @*<div class="col-md-1">
                                            <label class="control-label">Territory</label>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <ui-select class="form-control form-white " ng-model="frmReportMPOWisePrescriptionSummary.Territory" theme="select2" ng-cloak>
                                                    <ui-select-match placeholder="">{{$select.selected.TERRITORY_NAME}}</ui-select-match>
                                                    <ui-select-choices repeat="territory.TERRITORY_CODE as territory in Territories | propsFilter: {TERRITORY_NAME: $select.search, TERRITORY_CODE: $select.search}">
                                                        <div ng-bind-html="territory.TERRITORY_NAME | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>*@
                                </div>
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-1" style="padding: 0px;">
                                        <input type="checkbox" ng-true-value="YES" ng-false-value="NO" ng-change="RegionCheckBoxClick()" ng-model="RegionCheckBoxModal" ng-disabled="isRegionCheckBoxDisable"/>
                                        <label class="control-label ">Region</label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">

                                            <ui-select class="form-control form-white " ng-model="frmReportMPOWisePrescriptionSummary.Region" theme="select2" ng-cloak ng-disabled="isRegionDisable">
                                                <ui-select-match placeholder="">{{$select.selected.REGION_NAME}}</ui-select-match>
                                                <ui-select-choices repeat="region.REGION_CODE as region in Regions | propsFilter: {REGION_NAME: $select.search, REGION_CODE: $select.search}">
                                                    <div ng-bind-html="region.REGION_NAME | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row">
                                            <div class="col-md-1">
                                            </div>
                                            <div class="col-md-11">
                                                <div class="form-group">
                                                    <div class="col-md-4" style="padding: 0;">
                                                        <label class="control-label required">Date(From-To):</label>
                                                    </div>
                                                    <div class="col-md-4" style="padding: 0;">
                                                        <div class="input-group date">
                                                            <input type="text" class="form-control pull-right datepicker clickable" ng-model="FromDate" required readonly ng-cloak>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4" style="padding: 0;">
                                                        <div class="input-group date">
                                                            <input type="text" class="form-control pull-right datepicker clickable" ng-model="ToDate" required readonly ng-cloak>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div id="gridReportMPOWisePrescriptionSummaryValue" ui-grid="gridReportMPOWisePrescriptionSummary" class="grid" style="height: 320px; width: 100%;" ui-grid-auto-resize ui-grid-resize-columns ui-grid-grouping ui-grid-exporter></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.datepicker').datepicker({
            todayBtn: "linked",
            autoclose: true,
            todayHighlight: true,
            format: 'dd-mm-yyyy',
            changeMonth: true,
            changeYear: true
        });
    });
</script>

