@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Reports/NgCode/frmNationalPPMCurrentStock.js"></script>
<div ng-app="myApp" ng-controller="myCtrl">
    <div class="loader ng-cloak LoaderStyle" data-loading>
        @*<img src="~/Content/img/avatar.png" width="100px;" height="100px;" style="top: 50%; left: 50%;" />*@
        <img src="~/Content/img/loader.gif" width="100px;" height="100px;" style="top: 50%; left: 50%;" />
    </div>
    <div class="form-horizontal" ng-form="frmNationalPPMCurrentStock">

        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <div class="form-group">
                                <div class="col-md-5">
                                    <h2 class="box-title">
                                        <strong>{{FormTitle}}</strong>
                                    </h2>
                                </div>

                            </div>
                            <br />
                            <div class="row dashboard" ng-hide="ACCESS_LEVEL==='' || ACCESS_LEVEL===null">
                                <div class="col-md-2 col-md-offset-1">
                                    <!-- small box -->
                                    <div class="small-box bg-blue">

                                        <div class="inner">
                                            <p>Comm. Stock Valuation (Lac)</p>
                                            <h3>{{dashboardData.Commercial_Stock_Valuation=== "" ? "0": dashboardData.Commercial_Stock_Valuation}}৳</h3>
                                        </div>

                                        <div class="icon">
                                            <i class="ion ion-pie-graph"></i>
                                        </div>
                                        @*<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>*@
                                    </div>
                                </div>
                                <!-- ./col -->
                                <div class="col-md-2">
                                    <!-- small box -->
                                    <div class="small-box bg-red">
                                        <div class="inner">
                                            <p>Sample Stock Valuation (Lac)</p>
                                            <h3>{{dashboardData.Sample_Stock_Valuation=== "" ? "0": dashboardData.Sample_Stock_Valuation}}৳</h3>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-stats-bars"></i>
                                        </div>
                                        @*<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>*@
                                    </div>
                                </div>
                                <!-- ./col -->
                                <div class="col-md-2">
                                    <!-- small box -->
                                    <div class="small-box bg-orange">
                                        <div class="inner">
                                            <p>PPM Stock Valuation (Lac)</p>
                                            <h3>{{dashboardData.PPM_Stock_Valuation=== "" ? "0": dashboardData.PPM_Stock_Valuation}}৳</h3>

                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-person-add"></i>
                                        </div>
                                        @*<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>*@
                                    </div>
                                </div>
                                <!-- ./col -->
                                <div class="col-md-2">
                                    <!-- small box -->
                                    <div class="small-box bg-maroon">
                                        <div class="inner">
                                            <p>Gift Stock Valuation (Lac)</p>
                                            <h3>{{dashboardData.Gift_Stock_Valuation=== "" ? "0": dashboardData.Gift_Stock_Valuation}}৳</h3>

                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-pie-graph"></i>
                                        </div>
                                        @*<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>*@
                                    </div>
                                </div>
                                <!-- ./col -->
                                <div class="col-md-2">
                                    <!-- small box -->
                                    <div class="small-box bg-teal">
                                        <div class="inner">
                                            <p>Total Stock Valuation (Lac)</p>
                                            <h3>{{dashboardData.Total_Stock_Valuation=== "" ? "0": dashboardData.Total_Stock_Valuation}}৳</h3>

                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-pie-graph"></i>
                                        </div>
                                        @*<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <form role="form">
                                <div class="row">
                                    <div class="form-group report">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-1">
                                            <label class="control-label required">Date</label>
                                        </div>
                                        <div class="col-md-2 input-group date">
                                            <input type="text" class="form-control pull-right datepicker"  ng-model="NationalDate" required readonly>
                                        </div>
                                        <div class="col-md-5" style="padding-top: 3px;">

                                            <button type="button" class="btn btn-embossed btn-success" ng-click="GetNationalPPMCurrentStock()" ng-class="{'btn-transparent': frmNationalPPMCurrentStock.$invalid || isDisabled}" ng-disabled="frmNationalPPMCurrentStock.$invalid || isDisabled"><i class="fa fa-search"></i>Search</button>
                                            <button type="button" class="btn btn-embossed btn-danger" ng-click="Reset()"><i class="fa fa-refresh"></i>&nbsp Reset</button>

                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div id="gridNCurrentStock" ui-grid="gridNCurrentStockOptions" class="grid" style="height: 300px; width: 100%;" ui-grid-auto-resize ui-grid-resize-columns ui-grid-grouping ui-grid-exporter></div>
                    </div>
                </div>
            </div>
        </section>
    </div>


</div>
<script>
    $('.datepicker').datepicker({
        todayBtn: "linked",
        autoclose: true,
        todayHighlight: true,
        format: 'dd/mm/yyyy',
        changeMonth: true,
        changeYear: true
    })

</script>

